/* Security extension login form styles */

.error-explanation {
    display: none !important;
}

.error-explanation.show {
    display: block !important;
}

.error-explanation li {
    display: none !important;
}

.error-explanation li.show {
    display: list-item !important;
}

.mfa-form {
    display: none;
}

.mfa-setup {
    display: none;
}

.mfa-help-link {
    display: none;
    margin-right: 20px;
}
