/* Security extension login form styles */

.error-explanation {
    display: none;
}

.mfa-form {
    display: none;
}

.mfa-setup {
    display: none;
}

.mfa-help-link {
    display: none;
    margin-right: 20px;
}
